{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/css/splide.min.css">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script>var exports = {};</script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/js/splide.cjs.min.js"></script>
<script src="{{ 'product.js' | asset_url}}"></script>

<style>
  .splide__pagination {
    right:-20px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
  }

  .product-desc {
    padding-left:20px
  }

  @media screen and (max-width:490px) {
    .splide__pagination {
      right:-3px !important;
    }
  }

  @media screen and (max-width:767px) {
   
  .product-desc {
    padding-left:0
  }
  }

  .splide__pagination__page {
    height:100%;
    border-radius:0;
    width:2px;
    background:#C1C1C1;
    transition:unset;
  }

  .splide__pagination__page.is-active {
    background:#0E0E0E;
    transform:unset;
  }

  .splide__pagination li {
    flex-grow:1
  }

  .custom-button {
    background: #0E0E0E;
    color:white;
    box-shadow:none;
    border:none;
    width:100%;
    padding-top:6px;
    padding-bottom:6px;
    min-height: unset;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-button> span {
    font-size:12px;
     font-weight:300;
  }

  .custom-button:hover {
    opacity:0.7
  }

  .button-disabled {
    background:gray
  }

  .button-disabled:hover {
    background:gray;
    opacity:1
  }

  .care-content {
    font-size:12px;
    color:#0E0E0E;
    font-weight:300;
  }

  .care-title {
    font-size:14px;
    font-weight:400;
    color:#0E0E0E;
  }

  .description-custom {
    font-size:12px;
    font-weight:500;
    color:#0E0E0E
  }

  .description-custom a {
    color:#0E0E0E
  }

  .external-link {
    color:#0E0E0E;
    font-size:12px;
    font-weight:300;
    text-decoration:none;
  }

  .external-link:hover {
    color:#0E0E0E;
    text-decoration:none;
    opacity:0.7
  }

  .hide {
    display:none
  }

  .hide-desktop {
    display:block;
  }

  .hide-mobile {
    display:none;
  }

  @media screen and (max-width:1180px) {
    .hide-mobile {
      display:block;
    }

    .hide-desktop {
      display:none;
    }
  }

  .option-divider {
    width:100%;
    height:1px;
    background:black;
    margin:8px 0px
  }

  .option-value {
    cursor:pointer;
    color:#0E0E0E;
    font-size:12px;
    font-weight:700;

  }

  .option-value-active {
    color:#C1C1C1
  }

  .combine-title {
    font-size: 22px;
    line-height: 36px;
    font-weight:700;
    color: #0E0E0E;
    margin-bottom:24px
  }
</style>

<section class="page-width">

    <div class="row">
      <div class="col-3 hide-desktop" style="padding-right:20px">
        {%- if product.metafields.custom_fields.care.value != blank -%}
        <div class="d-flex flex-column justify-content-end" style="height:100%">
          <h6>Malzeme ve Bakım</h6>
          <div class="care-content">
            {{ product.metafields.custom_fields.care.value}}
          </div>
        </div>
        {%- endif -%}
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              {%- if product.selected_or_first_available_variant.featured_media != null -%}
                {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                <li style="width:100%" class="splide__slide" >
                  <img
                    srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                            {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                            {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                            {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                            {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
                    src="{{ media | img_url: '550x550' }}"
                    sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                    loading="lazy"
                    width="576"
                    height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                    alt="{{ media.preview_image.alt | escape }}"
                    style="width:100%;height:100%;object-fit:contain"
                  >
                </li>
              {%- endif -%}
              {%- for media in product.media -%}
                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                  <li style="width:100%" class="splide__slide">
                    <img
                      srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                              {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                              {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                              {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                              {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
                      src="{{ media | img_url: '550x550' }}"
                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                      loading="lazy"
                      width="576"
                      height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                      alt="{{ media.preview_image.alt | escape }}"
                      style="width:100%;height:100%;object-fit:contain"
                    >
                  </li>
                {%- endunless -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
        
      </div>

      <div class="col-12 col-md-6 col-xl-4 product-desc" >
        <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'text' -%}
              <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                {{- block.settings.text -}}
              </p>
            {%- when 'title' -%}
              <h1 class="product__title" {{ block.shopify_attributes }}>
                {{ product.title | escape }}
              </h1>
            {%- when 'price' -%}
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
              </div>
              <div {{ block.shopify_attributes }}>
                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
            {%- when 'description' -%}
              {%- if product.description != blank -%}
                <div class="product__description description-custom">
                  {{ product.description }}
                </div>
              {%- endif -%}
            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}
            {%- when 'collapsible_tab' -%}
              <div class="product__accordion accordion" {{ block.shopify_attributes }}>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary>
                    <div class="summary__title">
                      {% render 'icon-accordion', icon: block.settings.icon %}
                      <h2 class="h4 accordion__title">
                        {{ block.settings.heading | default: block.settings.page.title }}
                      </h2>
                    </div>
                    {% render 'icon-caret' %}
                  </summary>
                  <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                    {{ block.settings.content }}
                    {{ block.settings.page.content }}
                  </div>
                </details>
              </div>
            {%- when 'quantity_selector' -%}
              <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                <label class="form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>

                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                    {% render 'icon-minus' %}
                  </button>
                  <input class="quantity__input"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      min="1"
                      value="1"
                      form="{{ product_form_id }}"
                    >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>
            {%- when 'popup' -%}
                <a href="{{ block.settings.page.url }}" target="blank" class="external-link">{{ block.settings.text }}</a>
            {%- when 'share' -%}
              <share-button id="Share-{{ section.id }}" class="share-button" {{ block.shopify_attributes }}>
                <button class="share-button__button hidden">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </button>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary class="share-button__button">
                    {% render 'icon-share' %}
                    {{ block.settings.share_label | escape }}
                  </summary>
                  <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                    <div class="field">
                      <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                      </span>
                      <input type="text"
                            class="field__input"
                            id="url"
                            value="{{ product.selected_variant.url | default: product.url | prepend: shop.url }}"
                            placeholder="{{ 'general.share.share_url' | t }}"
                            onclick="this.select();"
                            readonly
                      >
                      <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                    </div>
                    <button class="share-button__close hidden no-js-hidden">
                      {% render 'icon-close' %}
                      <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                    </button>
                    <button class="share-button__copy no-js-hidden">
                      {% render 'icon-clipboard' %}
                      <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                    </button>
                  </div>
                </details>
              </share-button>
              <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
            {%- when 'variant_picker' -%}
              {%- unless product.has_only_default_variant -%}
              
                  <div>
                    {%- for option in product.options_with_values -%}
                      {% if option.name == "Renk" %}
                        <div class="d-flex flex-wrap">
                          {%- for value in option.values -%}
                          <span data-value="{{value | escape }}" class="option-value {% if option.selected_value == value %}option-value-active{% endif %}" style="margin-right:10px">{{ value }}</span>
                          {%- endfor -%}
                          <input style="display:none" type="text" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="options[{{ option.name | escape }}]"
                            value="{{ option.selected_value | escape }}"
                            form="{{ product_form_id }}"
                          >
                        </div>
                      {% else %}
                        <div class="d-flex flex-column">
                          {%- for value in option.values -%}
                            <span data-value="{{value | escape }}" class="option-value {% if option.selected_value == value %}option-value-active{% endif %}">{{ value }}</span>
                            {%- endfor -%}
                            <input style="display:none" type="text" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="options[{{ option.name | escape }}]"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                            >
                        </div>
                      {% endif%}
                      <div class="option-divider"></div>
                    {%- endfor -%}
                    <script>
                     const variants = {{ product.variants | json }}
                     const currency = {{ cart.currency.iso_code | json }}

                     

                    $(function(){
                      
                      function formatMoney(money) {
                        let currencyFinal = currency
                        if(currencyFinal === 'TRY') currencyFinal = 'TL'
  
                        let price_string = money.toString()
                        const main_price = price_string.slice(0,price_string.length -2)
                        const trailing_price = price_string.slice(price_string.length-2,price_string.length)
  
                        return main_price+','+trailing_price+''+currencyFinal
                       }

                      $('.option-value').click(function(){
                        const value = $(this).attr('data-value');
                        
                        $(this).parent().find('.option-value-active').removeClass('option-value-active')
                        $(this).addClass('option-value-active')
                        
                        $(this).parent().find('input').val(value)
                        

                        const selectedOptions = []
                        $('.option-value-active').each(function(i,elem){
                          selectedOptions.push($(elem).attr('data-value'))
                        })

                        selectedOptions.sort()
                       
                       const selectedVariant = variants.find(x => {
                          const options = x.options.sort()
                          if(JSON.stringify(options) === JSON.stringify(selectedOptions)) return x 
                          
                        } )

                        const compareAtPrice = selectedVariant.compare_at_price
                        const price = selectedVariant.price

                        $('.price-item--regular').text(formatMoney(compareAtPrice))
                        $('.price-item--sale').text(formatMoney(price))

                        console.log(formatMoney(compareAtPrice))
                        console.log(formatMoney(price))

                        $('.variant-id').val(selectedVariant.id)
                        
                        if(selectedVariant.available){
                          $('.custom-button').attr('disabled',true)
                          $('.custom-button').addClass('button-disabled')
                        } else {
                          $('.custom-button').attr('disabled',false)
                          $('.custom-button').removeClass('button-disabled',true)
                        }
                        
                      })
                    })
                    </script>
                  </div>

              {%- endunless -%}
             
            {%- when 'buy_buttons' -%}
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  <div class="product-form__error-message-wrapper" role="alert" hidden>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    <span class="product-form__error-message"></span>
                  </div>

                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input class="variant-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                    <div class="product-form__buttons">
                      <button
                        type="submit"
                        name="add"
                        class="custom-button {% if product.selected_or_first_available_variant.available == false %}button-disabled{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                      >
                        <script>
                          console.log({{product.selected_or_first_available_variant.available | json}})
                        </script>
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                      </button>
                    </div>
                  {%- endform -%}
                </product-form>

                {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

                <pickup-availability class="product__pickup-availabilities no-js-hidden"
                  {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                  data-root-url="{{ routes.root_url }}"
                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  data-has-only-default-variant="{{ product.has_only_default_variant }}"
                >
                  <template>
                    <pickup-availability-preview class="pickup-availability-preview">
                      {% render 'icon-unavailable' %}
                      <div class="pickup-availability-info">
                        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                        <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                      </div>
                    </pickup-availability-preview>
                  </template>
                </pickup-availability>
              </div>

              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
            
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>

    <div>

    <div style="margin-top:60px" id="combine-container" class="hide">
      <h4 class="combine-title">{{ "products.product.combine" | t}}</h4>
      <div class="combine-slider">
        <div class="splide__track">
          <ul class="splide__list">
              {%- assign custom_fields = product.metafields.custom_fields -%}
              {%- for field in custom_fields -%}
                {%- assign field_key = field.first | slice:0, 7 -%}
                {%- if field_key == 'combine' -%}
                  {%- assign product_ref = all_products[field.last] -%}
                  {%- if product_ref.title != blank -%}
                    <li class="splide__slide">
                    {% render 'product-card-recommended',
                      product_card_product: product_ref,
                      media_size: 'adapt',
                      show_secondary_image: false,
                      add_image_padding: false,
                      show_vendor: false,
                      show_image_outline: false,
                      show_rating: false
                    %}
                    </li>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>

    <div class="hide-mobile" style="margin-top:40px">
      {%- if product.metafields.custom_fields.care.value != blank -%}
      <div class="d-flex flex-column justify-content-end" style="height:100%">
        <h6>Malzeme ve Bakım</h6>
        <div class="care-content">
          {{ product.metafields.custom_fields.care.value}}
        </div>
      </div>
      {%- endif -%}
    </div>

    <script>
      $(function () {
        if($('.splide_list').has('li')) {
          $('#combine-container').removeClass('hide')
        }


        var splide = new Splide(".combine-slider", {
          direction: "ltr",
          arrows: false,
          drag: true,
          wheel: true,
          releaseWheel: true,
          perPage: 4,
          perMove: 1,
          width: '100%',
          gap:30,
          breakpoints:{
            900:{
              perPage:2
            },
            750:{
              perPage:1
            }
          }
        });
      
        splide.mount();
      });
      
    </script>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "url",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
